# ------------------------------------------------------------------------------
# Terraform
# ------------------------------------------------------------------------------

# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate*

# Speculative plan
tfplan
*.plan

# Crash log files
crash.log
crash.*.log

# Sensitive data
*.tfvars
*.tfvars.json
